@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    background-color: #9C99A3;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;

}

/* navigation bar */

nav ul {
    list-style: none;
    text-align: left;
    background-color: #9C99A3;
    padding: 0;
    margin: 0;
}

nav li {
    font-size: 1.3em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 2.5%;
}

nav a {
    text-decoration: none;
    color: #f3ece1;
    display: block;
}

nav a:hover {
    color: #ece0cf;
}
/*Barbonis logo- follow the page when scrolling*/

/* Home Page*/

.home-title{
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #f3ece1;
    text-transform: uppercase;
    font-size: 350%;
    font-weight: 100;
    letter-spacing: 5px;
    padding-top: 10%;
}
/* open fri, sat, sun 5pm-9pm*/
.top-index p {
    text-align: center;
    font-family: 'Inter', sans-serif;
    letter-spacing: 3px;
    font-size: 150%;
    color: #f3ece1;
    padding-top: 2%;
    padding-bottom: 3%;
    text-transform: uppercase;
    

}

/* Click to call now button*/

#call-button {
    display: inline-block;
    position: relative;
    padding: 25px;
    width: 50%;
    height: auto;
    margin: auto;
    border: solid #f3ece1;
    border-width: 7px;
    text-decoration: none;
    cursor: pointer;
    -webkit-animation-name: pulseLight;
    -webkit-animation-duration: 2s;

    
   
}
#call-button p {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-weight: 100;
    font-size: 300%;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

/* Barboni's Takeout Menu  */
.menu {
    padding-top: 3%;
    color: #f3ece1;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.menu h2 {
font-family: 'Inter', sans-serif;
color: #ece0cf;
letter-spacing: 8px;
font-size: 300%;
font-weight: 400;
text-align: center;
text-transform: uppercase;
padding-top: 5%;
padding-bottom: 1%;
border-bottom: 9px solid #ece0cf;
}
.menu h3 {
    font-size: 200%;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 2%;
    text-decoration: underline;
}

.menu h4 {
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    letter-spacing: 4px;
    padding-top: 2%;
    font-size: 150%;
    font-weight: bolder;
}

.price h4 {
    font-weight: 500;
    color: #ece0cf;
}

/* footer on all pages*/
footer {
    padding-top: 5%;
    padding-bottom: 5%;
}
footer p {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f3ece1;
    color: #9C99A3;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}