@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    background-color: #9C99A3;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/* ---------------------------------------------navigation bar */

nav ul {
    list-style: none;
    text-align: left;
    background-color: #9C99A3;
    padding: 0;
    margin: 0;
}

nav li {
    font-size: 1.3em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 2.5%;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    color: #f3ece1;
    display: block;
}

nav a:hover {
    color: #ece0cf;
}
/*--------------------------------------------- social networks- instagram & facebook*/
.socials {
    display: inline-block;
    float: right;
}

/* ---------------------------------------------Home Page*/

/* -------------------------------------------Barboni's logo on home page */
 .logo {
border-radius: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* Used https://www.w3schools.com/howto/howto_css_image_center.asp code to center the logos on home page */

/*--------------------------------------------- Barboni's takeout menu*/
.home-title{
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #f3ece1;
    text-transform: uppercase;
    font-size: 350%;
    font-weight: 100;
    letter-spacing: 5px;
    padding-top: 10%;
}

/* ---------------------------------------------open fri, sat, sun 5pm-9pm*/
.top-index p {
    text-align: center;
    font-family: 'Inter', sans-serif;
    letter-spacing: 3px;
    font-size: 150%;
    color: #f3ece1;
    padding-top: 2%;
    padding-bottom: 3%;
    text-transform: uppercase;
    

}

/* ---------------------------------------------Click to call now button*/

#call-button {
    display: inline-block;
    position: relative;
    padding: 10px;
    padding-bottom: 20px;
    width:50%;
    height: 5%;
    margin: auto;
    margin-left: 350px;
    margin-right: 350px;
    border: solid #f3ece1;
    border-width: 7px;
    text-decoration: none;
    cursor: pointer;
    animation-name: pulseLight;
    animation-duration: 2s;

    
   
}
#call-button p {
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    font-weight: 100;
    font-size: 300%;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
} /*used https://www.kevinleary.net/pulsating-css3-animations/ code to make call button pulse*/


/* ------------------------------ image of collage of food on home page*/
.home-food {
clear: both;
line-height: 0;
column-count: auto;
column-gap: 0;
padding-top: 10px;
padding-bottom: 10px;
}

.home-food img {
    width: 100%;
}


/* ---------------------------------------------Barboni's Takeout Menu  */
.menu {
    padding-top: 3%;
    color: #f3ece1;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.menu h2 {
font-family: 'Inter', sans-serif;
color: #ece0cf;
letter-spacing: 8px;
font-size: 300%;
font-weight: 400;
text-align: center;
text-transform: uppercase;
padding-top: 5%;
padding-bottom: 1%;
border-bottom: 9px solid #ece0cf;
}
.menu h3 {
    font-size: 200%;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 2%;
    text-decoration: underline;
}

.menu h4 {
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    letter-spacing: 4px;
    padding-top: 2%;
    font-size: 150%;
    font-weight: bolder;
}
/*--------------------------------------------- prices on menu*/
.price {
    font-weight: 500;
    color: #ece0cf;
    margin-right: 40px;
}
/*--------------------------------------------- warning for dietry requirements*/
#allergens {
    padding-top: 5%;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;

}

/*--------------------------------------------- footer on all pages*/
footer {
    padding-top: 5%;
    padding-bottom: 5%;
}
footer p {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f3ece1;
    color: #9C99A3;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}
.address {
    text-decoration: none;
}

/*---------------------------------------------Pictures in the gallery*/

#picture {
clear: both;
line-height: 0;
column-count: auto;
column-gap: 0;
padding-top: 10px;
}

#picture img {
    width: 100%;
}
/* ---------------------------------------------established 2014 and legal info */
.bottom-gallery p {
    font-style: 'Inter', sans-serif;
    font-size: smaller;
    color: #f3ece1;
    text-align: center;
}
.legal p {
    font-style: 'Inter', sans-serif;
    font-size: smaller;
    color: #f3ece1;
    text-align: center;
}

/*-----------------------------------------About Us page*/

h1 {
    font-style: 'Inter', sans-serif;
    color: #ece0cf;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-size: 500;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 30px;
    border-bottom: 9px solid #ece0cf;
}

/*----------------------------------------- Text and heading for getting to know barboni's*/
.float-left {
float: left;
padding-right: 350px;
} 
/*------------------------------------getting to know barbonis heading*/
.float-left h2 {
text-transform: uppercase;
letter-spacing: 6px;
color: #ece0cf;
font-family: 'Inter', sans-serif;
padding-left: 20px;
padding-top: 20px;
padding-bottom: 20px;
}
/*----------------------------------getting to know barbonis paragraphs*/
.float-left p {
color: #f3ece1;
font-family: 'Inter', sans-serif;
font-size: 100%;
letter-spacing: 3px;
padding-right: 500px;
padding-left: 20px;
}

/*-----------------------------------------Image of pizza -about us page*/
.pizza {
clear: both;
line-height: 0;
column-count: auto;
column-gap: 0;
width: 150%;
float: right;
}



/*.pizza{
width: 100px;
float: right;
    } */

.pizza img{
    /*margin: auto 5px;*/
    position: relative;
    float: right;
    /*width: 150px;
    height: 38px;*/
}

#established p {
    text-align: center;
    font-size: smaller;
    color: #f3ece1;
    font-family: 'Inter', sans-serif;
}
